<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/stylePurple.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/contentpages.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/nav.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <%- navbar %>
    <div class="container">
    <h1 class="header">¿Quiénes somos?</h1>
    <p class="textpassage">Somos un grupo de estudiantes de Física... </p>

    <p class="textpassage">Las simulaciones están escritas en ___ y se puede acceder a ellas en el repositorio ____ </p>
  </div>
  </body>
</html>
